@font-face {
    font-family: RobotoRegular; /* Имя шрифта */
    src: url('../fonts/Roboto-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: RobotoThin; /* Имя шрифта */
    src: url('../fonts/Roboto-Thin.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: RobotoBold; /* Имя шрифта */
    src: url('../fonts/Roboto-Bold.ttf'); /* Путь к файлу со шрифтом */
}

body {
    font-family: 'RobotoRegular';
}

a {
    font-family: 'RobotoRegular';
}

.home {
    height: 1050px;
    background: url("../img/home-bg.jpg");
    background-size: cover;
    position: relative;
}

.home-content {
    margin-top: 120px;
}

.home-content a:hover {
    text-decoration: none;
}

.home-content h1 {
    font-size: 52px;
    color: #FFFFFF;
    font-family: 'RobotoThin';
}

.home-content p {
    font-size: 42px;
    color: #8492af;
    font-family: 'RobotoRegular';
}

.get-started {
    margin-top: 50px;
}

.dashboard {
    margin-top: 80px;
    box-shadow: 0 0 70px rgba(170, 172, 255, 0.3);
    width: 100%;
}

header {
    padding: 50px 0;
}

header a {
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 16px;
    transition: 0.2s; 
}

header a:hover {
    text-decoration: none;
    transition: 0.2s; 
}

header .logo {
    display: inline-block;
}

header ul.primary-nav {
    position: absolute;
    right: 0;
}

header ul.primary-nav li {
    display: inline; 
    margin-left: 20px;
}

header ul.primary-nav li a {
    color: #fff;
    padding-right: 25px;
}

header ul.primary-nav li a:hover {
    color: #5584ff; 
}

header ul.primary-nav li:last-child a {
    padding-right: 0px; 
}

.button {
    padding: 8px 35px !important;
    font-size: 16px;
    border-radius: 24px;
    display: inline-block;
    transition: 0.2s;
}

.button:hover, .button:focus {
    text-decoration: none;
    transition: 0.2s; 
}

.button-fill {
    padding: 8px 55px !important;
    font-family: 'RobotoBold';
    background: #5584ff;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
}

.button-fill:hover {
    background: #2550bd;
    color: #C0C0C0;
}

.button-outline {
    color: #5584ff !important;
    border: solid 0.08rem;
    border-color: #162e69;
}
  
.button-outline:hover {
    color: #FFFFFF !important;
    border-color: #FFFFFF;
}

.features {
    margin-top: 370px;
    min-height: 500px;
}

.features-content {
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px 28px;
    transition: 0.2s;
}

/* .features-content:hover {
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
} */

.features-content p {
    margin-top: 20px;
    font-family: "RobotoRegular";
    color: #8492af;
    font-size: 15px;
}

.features-title {
    margin-top: 30px;
    font-family: "RobotoBold";
    font-size: 24px;
}

.button-more {
    margin-top: 20px;
    padding: 8px 70px !important;
    font-family: 'RobotoBold';
    border-color: #e2e2e2 !important;
    border: solid 0.08rem;
    color: #000000;
}

.button-more:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: #f0f0f0;
    border-color:#f0f0f0 !important;
    color: #000000;
}

.browser {
    min-height: 700px;
}

.browser-content {
    margin-top: 40px;
}

.browser-title {
    font-family: "RobotoThin";
    font-size: 52px;
}

.browser-content p {
    margin-top: 30px;
    font-family: 'RobotoRegular';
    font-size: 15px;
    color: #8492af;
}

.browser-img {
    margin-top: 100px;
    position: absolute;
    right: 0;
    /* width: 101.5%; */
    width: 40%;
    height: auto;
}

ul.browser-list {
    margin-left: -40px;
    margin-top: 40px;
    list-style-type: none;
}

ul.browser-list li {
    background-image: url('../img/li.png');
    background-repeat: no-repeat;
    background-position-y: 3px;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 22px;
    color: #5584ff;
}

.drag {
    min-height: 750px;
    background: url("../img/home-bg.jpg");
    background-size: cover;
    position: relative;
}

.drag-img {
    margin-top: 150px;
    width: 100%;
}

.drag-title {
    margin-top: 250px;
    color: #FFF;
    font-family: 'RobotoThin';
    font-size: 52px;
}

.drag-content p {
    color: #FFF;
    font-family: 'RobotoRegular';
    font-size: 16px;
}

/* SLIDER */

.slider {
    font-size: 16px;
    color: #fff;
    font-family: 'RobotoRegular';
}

.owl-theme .owl-nav {
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent; 
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    border: 1px solid #869791;
    display: inline-block;
    cursor: pointer;
    border-radius: 32px; 
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #ffffff;
    color: rgb(94, 94, 94);
    text-decoration: none; 
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; 
}
  
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px; 
}

/* END SLIDER */

.powerfull {
    min-height: 700px;
}

.powerfull-content {
    margin-top: 70px;
}

.powerfull-content p {
    font-family: 'RobotoRegular';
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #8492af;
}

.powerfull-title {
    font-family: 'RobotoThin';
    font-size: 52px;
    text-align: center;
}

.powerfull-img {
    margin-top: 40px;
    width: 100%;
}

.pricing {
    height: auto;
}

.pricing-content {
    margin-top: 20px;
}

.pricing-title {
    margin-top: 100px;
    font-family: 'RobotoThin';
    font-size: 52px;
    text-align: center;
}

.plan-content {
    margin-top: 30px;
    padding: 40px 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    /* transition: 0.2s; */
}

.plan-title {
    font-family: 'RobotoRegular';
    font-size: 18px;
    text-align: center;
}

.plan-price {
    margin-top: 20px;
    text-align: center;
}

.currency {
    font-family: 'RobotoBold';
    font-size: 40px;
}

.number {
    font-family: 'RobotoBold';
    font-size: 60px;
}

.letter {
    color: #8492af;
    font-family: 'RobotoRegular';
    font-size: 25px;
}

ul.plan-list {
    margin-left: -40px;
    margin-top: 40px;
    list-style-type: none;
}

ul.plan-list li {
    background-image: url('../img/li-plan-ok.png');
    background-repeat: no-repeat;
    background-position-y: 3px;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 18px;
    color: #8492af;
}

.plan-list-no {
    background-image: url('../img/li-plan-no.png') !important;
}

.pricing-content p {
    font-family: 'RobotoRegular';
    font-size: 16px;
    text-align: center;
    margin-top: 100px;
    color: #8492af;
}

footer {
    margin-top: 150px;
}

.footer-content {
    height: 120px;
    background: #0e1a35;
    position: relative;
    font-size: 14px;
    color: #8492af;
    font-family: 'RobotoRegular';
    padding: 55px 0;
    position: relative;
    margin: 0 auto;
}

.footer-content a {
    color: #cecece;
}

.footer-content a:hover {
    color: #8492af;
    text-decoration: none;
    border-bottom: 1px solid #8492af;
}

ul.footer-nav {
    position: absolute;
    right: 0;
}

ul.footer-nav li {
    display: inline; 
    margin-left: 40px;
}

ul.footer-nav li a {
    color: #cecece;
}

ul.footer-nav li a:hover {
    color: #8492af;
    text-decoration: none;
    border-bottom: 1px solid #8492af;
}

.footer-img a:hover {
    border: none !important;
}


.menu-toggle {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 53px;
    right: 30px;
    cursor: pointer;
    visibility: hidden;
    z-index: 100;
}

.menu-toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.on .two {
    opacity: 0;
}

.menu-toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
}
  
.one,
.two,
.three {
    width: 100%;
    height: 5px;
    background: white;
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
  
nav ul {
    margin-top: 0;
    padding: 0;
    font-family: Open Sans;
    list-style: none;
    margin: 7em auto;
    text-align: center;
}

nav ul.hidden {
    display: none;
}

nav ul a {
    font-family: 'RobotoThin';
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 3em;
    line-height: 1.5;
    width: 100%;
    display: block;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
}
  
.menu-section.on {
    z-index: 101;
    width: 100%;
    height: auto;
    display: block;
    background-color: rgba(21, 21, 56, 1);
    position: absolute;
    box-shadow: 0 0 70px rgba(2, 2, 2, 0.9);
}

.line-box {
    width: 600px;
    height: 140px;
}

.line1 {
    position: absolute;
    border-top: 1px solid #c0c0c0;
    width: 170px;
    height: 1px;
    margin-top: 67px;

}

.line2 {
    position: absolute;
    border-top: 1px solid #c0c0c0;
    width: 170px;
    height: 1px;
    margin-left: 430px;
    margin-top: 67px;

}

@media (max-width: 1200px) {

    .home {
        height: 970px;
    }

    .features {
        margin-top: 260px;
    }

    .features-title {
        font-size: 20px;
    }

    .browser-title {
        font-size: 40px;
    }

    ul.browser-list li {
        /* background-image: url('../img/li.png');
        background-repeat: no-repeat;
        /* background-position-y: 3px; */
        padding-left: 40px;
        margin-top: 10px; 
        background-size: 21px;
        font-size: 16px;
        /* color: #5584ff; */
    }

    .drag-title {
        margin-top: 200px;
        font-size: 40px;
    }

    .drag-img {
        margin-top: 220px;
    }
    
    ul.plan-list li {
        background-size: 18px;
        padding-left: 30px;
        font-size: 15px;
    }
    
}

@media (max-width: 992px) {

    .home {
        height: 820px;
    }

    .features {
        margin-top: 210px;
    }

    .primary-nav {
        visibility: hidden;
    }

    header a {
        font-size: 1px;
    }

    .button-outline {
        font-size: 1px;
    }

    .menu-toggle {
        visibility: visible;
    }

    .home-content {
        margin-top: 50px;
    }

    .home-content h1 {
        font-size: 42px;
    }

    .home-content p {
        font-size: 25px;
    }

    .browser-img {
        margin-top: 200px;
    }

    .slider {
        padding: 50px;
        text-align: center;
    }

    .drag-img {
        margin-top: 30px;
    }

    .drag-title {
        margin-top: 10px;
        color: #FFF;
        font-family: 'RobotoThin';
        font-size: 52px;
        text-align: center;
    }

    .plan-content {
        padding: 20px 20px;
    }
    
    .plan-price {
        margin-top: 15px;
    }
    
    .currency {
        font-size: 30px;
    }
    
    .number {
        font-size: 50px;
    }
    
    .letter {
        font-size: 15px;
    }
    
    ul.plan-list {
        margin-top: 20px;
    }
    
    ul.plan-list li {
        background-size: 15px;
        padding-left: 25px;
        font-size: 12px;
    }

    .pricing-title {
        margin-top: 0px;
    }

    ul.footer-nav {
        visibility: hidden;
        position: relative;
        left: 0;
    }
    
    ul.footer-nav li {
        margin-left: 0px;
    }

}

@media (max-width: 768px) {

    .features {
        margin-top: 200px;
    }

    .home {
        height: 800px;
    }

    .browser-img {
        width: 100%;
        margin-top: 400px;
    }

    .browser-content {
        margin-top: 100px;
    }

    .browser-title {
        text-align: center;
        font-size: 35px;
    }

    .slider {
        padding: 30px;
    }

    .powerfull-title {
        font-size: 40px;
    }
    
    .pricing-title {
        font-size: 40px;
    }

    .plan-content {
        padding: 20px 20px;
    }
    
    .plan-price {
        margin-top: 15px;
    }
    
    .currency {
        font-size: 40px;
    }
    
    .number {
        font-size: 60px;
    }
    
    .letter {
        font-size: 25px;
    }
    
    ul.plan-list li {
        background-size: 20px;
        padding-left: 35px;
        font-size: 17px;
    }

    ul.plan-list {
        margin-left: 75px;
    }

    .line-box {
        width: 200px;
    }

    .line1 {
        width: 0px;
    }

    .line2 {
        margin-left: 3px;
        width: 0px;
    }

}

@media (max-width: 576px) {

    .features {
        margin-top: 120px;
    }

    .home {
        height: 780px;
    }

    .button-more {
        padding: 8px 40px !important;
    }

    .browser-img {
        margin-top: 580px;
    }

    .slider {
        padding: 10px;
    }

    .drag-title {
        font-size: 40px;
    }

    .drag {
        min-height: 600px;
    }

    .pricing-title {
        font-size: 35px;
    }

    .powerfull-title {
        font-size: 35px;
    }

    ul.plan-list {
        padding: 0;
        margin: 0 auto;
        width: 250px;
    }

    .footer-content {
        height: 150px;
        text-align: center;
    }
    
    footer {
        margin-top: 50px;
    }
}